body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.echec_txt {
  color:darkred;
  font-weight: bold;
}

.success_txt {
  color:darkgreen;
  font-weight: bold;
}
.warning_txt {
  color: #d1bb00;
  font-weight: bold;
}
.chart {
  width:100%;
  height:400px;
}

#mosseraptor {
  position: fixed;
  right: -10;
  bottom: -10;
  background: url(./images/mosseraptor.jpg) 0 0;
}

.modal-dialog {
  width:75%;
}